@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.App {
  background: rgb(68, 81, 132);
  background: radial-gradient(circle, rgba(68, 81, 132, 0.846673703661152) 0%, rgba(75, 135, 152, 0.22762608461353295) 18%, rgba(103, 128, 167, 0.48252804539784666) 46%, rgba(124, 122, 185, 0.5553571770505077) 70%, rgba(186, 193, 221, 0.7346288857339811) 86%, rgba(255, 255, 255, 1) 100%, rgba(130, 132, 182, 0.15479695296087181) 100%);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoMain {
  background: rgb(182, 155, 130);
  background: linear-gradient(90deg, rgba(182, 155, 130, 0.6896008403361344) 13%, rgba(185, 164, 122, 0.5553571770505077) 41%, rgba(206, 221, 186, 0.7346288857339811) 81%);
  height: 80vh;
  width: 40vw;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ToDoHeading-container {
  margin: 2rem 0 0 0;
  background-color: rgb(151, 104, 104);
  color: white;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addItemsBar {
  background-color: bisque;
  margin: 1rem;
  height: 4vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.addSymbol {
  height: 5vh;
  background-color: whitesmoke;
  padding: 0.7vw;
  border-radius: 10vh;
}

.taskList {
  width: 90%;
  margin: 1rem;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.taskDescription {
  width: 70%;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

}

.editButton {
  width: 10%;
  background-color: rgb(119, 119, 171);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editSymbol {
  height: 30px;
  width: 30px;
}

.deleteButton {
  width: 10%;
  background-color: rgb(205, 81, 81);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteSymbol {
  width: 30px;
  height: 30px;

}
@media (max-width:600px) {                                        
  .toDoMain{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}